/*
===============================================
; Title: LeaseLabs WebDev Assessment Page Styles
; Author: Mark Watson
; Date: 19 April 2022
; Description: Styles for LeaseLabs WebDev Test
===============================================
*/

// color and font variables
@import './variables/themes';

/*
 * GLOBAL Page Styles
*/
* {
    margin: 0;
    padding: 0;
}

// default font settings
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $secondaryColor;
}

// default link font settings
a {
    color: $secondaryColor;
    text-decoration: none;
    &:hover {
        color: $primaryColor;
    }
}

// component styles
@import './components/nav';
@import './components/main';