/*
===============================================
; Title: LeaseLabs WebDev Assessment Page Styles
; Author: Mark Watson
; Date: 19 April 2022
; Description: Styles for LeaseLabs WebDev Test
===============================================
*/

// color and font variables
@import './variables/themes';
// component styles
@import './components/nav';
@import './components/main';

/*
 * GLOBAL Page Styles
*/
* {
    margin: 0;
    padding: 0;
}

// default font settings
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: $secondaryColor;
}

// default link font settings
a {
    color: $secondaryColor;
    text-decoration: none;
    &:hover {
        color: $primaryColor;
    }
}

/*
 * RESPONSIVE Media Queries
*/
// For tablets and large mobile screens
@media screen and (max-width: 1070px) {
    // changes the main top navigation for tablets and mobile
    nav ul {
        display: none;
    }
    // turns small nav to visible
    #sml-nav {
        display: block !important;
    }
    // resizes side nav elements
    .nav-bubble {
        font-size: 1em;
    }
    // changes side nav link font size to small
    #side-nav a {
        font-size: $smlFont;
    }
}

// For smaller mobile screens
@media screen and (max-width: 405px) {
    // resizes logo and nav font-size
    #logo {
        width: 175px;
        height: auto;
    }
    #sml-nav {
        font-size: $smlFont;
        bottom: 4px !important;
        .sml-nav-item {
            width: 80px !important;
        }
    }
    // resizes side nav speech bubble element
    .nav-bubble {
        font-size: $smlFont;
        padding: 1em;
        letter-spacing: normal;
    }
    // resizes image boxes
    .image-box {
        width: 200px;
        height: 135px;
    }
}